@import "kouto-swiss"
@import url(http://fonts.googleapis.com/css?family=Lato:400,900&subset=latin)

@keyframes swipe-across
  0%
    transform translatex(10px)
  100%
    transform translatex(780px)

@keyframes swipe-back
  0%
    transform translatex(780px)
  100%
    transform translatex(10px)

@keyframes fade-in
  0%
    opacity 0
  100%
    opacity 1

@keyframes fade-out
  0%
    opacity 1
  100%
    opacity 0


@keyframes tint-out
  100%
    background-color #ffffff

darken = 0.6
darkenOverlay = rgba(0, 0, 0, darken)

body
  font-family 'Lato', sans-serif
  font-size 16px

#backPattern
  background-color #cfcfcf
  font-family: 'Lato', sans-serif
  position relative
  animation tint-out 0.5s linear forwards



  #subhead
    font-weigth 400
    font-size 2rem
    color white
    position absolute
    top 20%
    left 10%

  #mainhead
    font-weight: 900
    color: white
    text-transform: uppercase
    font-size: 5rem
    position absolute
    top 10%
    left 10%

  #menu-container
    position absolute
    left 20px
    top 25px
    width 50px
    height 50px
    opacity 0.75

  #menu-box
    position absolute
    left 50px
    top 10px

  text.menuLabel
    opacity 0
    pointer-events none
    &:hover
      cursor crosshair
      pointer-events auto
    &.opening
      animation fade-in 1s linear forwards
      pointer-events auto
    &.closing
      animation fade-out 0.25s linear forwards
      pointer-events none



  #menu-symbol
    position relative
    transform translatex(10px)
    &.opening
      animation swipe-across 0.5s linear
      animation-fill-mode forwards
    &.closing
      animation swipe-back 0.25s linear
      animation-fill-mode forwards

    #rightpointer
      opacity 1
      &.opening
        animation fade-out 0.25s linear
        animation-fill-mode forwards
      &.closing
        animation fade-in 0.5s linear
        animation-fill-mode forwards
    #leftpointer
      opacity 0
      &.opening
        animation fade-in 0.25s linear
        animation-fill-mode forwards
      &.closing
        animation fade-out 0.5s linear
        animation-fill-mode forwards

section
  position relative
  top 100px
  font-size 1rem
  #sidebar
    lost-column 1/3

    img
      display block
      width 100%
      height auto
      margin-bottom 10rem

  #mainbar
    lost-column 2/3
